:root {
  --white: hsl(0, 0%, 100%);
  --red: hsl(3, 100%, 61%);
  --orange: hsl(36, 100%, 52%);
  --yellow: hsl(50, 100%, 52%);
  --green: hsl(135, 64%, 50%);
  --mint: hsl(178, 72%, 65%);
  --cyan: hsl(197, 100%, 70%);
  --blue: hsl(210, 100%, 52%);
  --indigo: hsl(241, 61%, 59%);
  --purple: hsl(280, 85%, 65%);
  --pink: hsl(348, 100%, 61%);
  --brown: hsl(34, 29%, 54%);

  --border: 0.5rem;

  --grey: hsl(240, 2%, 57%);
  --grey2: hsl(240, 1%, 39%);
  --grey3: hsl(240, 1%, 29%);
  --grey4: hsl(240, 2%, 23%);
  --grey5: hsl(240, 2%, 18%);
  --grey6: hsl(240, 3%, 11%);
  --accent: hsl(210, 100%, 52%);

  /* 
  --grey: rgb(242, 242, 247);
  --grey2: rgb(229, 229, 234);
  --grey3: rgb(209, 209, 214);
  --grey4: rgb(199, 199, 204);
  --grey5: rgb(174, 174, 178);
  --grey6: rgb(142, 142, 147);
  --accent: rgb(0, 122, 255);
  */
}

::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

* {
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}



html,
body,
#app {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0;
  background-color: transparent;
}

.overlay {
  display: flex;
  flex-direction: column;

  position: absolute;

  height: 100%;
  width: 100vw;
  pointer-events: none;
}

.overlayPad {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 100%;
  gap: 0.5rem;
}

.topflex {
  height: 2rem;
  pointer-events: auto;
  flex-shrink: 0;
  display: flex;
  gap: 0.5rem;
}

.midflex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: inherit;
  pointer-events: none;
}

.botflex {
  display: flex;
  overflow-x: scroll;
  gap: 0.5rem;
  scroll-snap-type: x proximity;
  pointer-events: auto;
}

.popover {
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: auto;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: end;
}

.popoverrow {
  display: flex;
  flex-direction: row;
  background-color: rgba(240, 255, 240, 0.411);
  height: 2rem;
  pointer-events: auto;
}

.threadColumn {
  height: 40vh;
  width: 96%;
  background-color: transparent;
  overflow: scroll;
  flex-shrink: 0;
  gap: 0.5;
  scroll-snap-align: center;
  scroll-snap-type: y proximity;
}

.post {
  min-height: 2rem;
  max-height: 40vh;

  width: 100%;
  background-color: red;
  margin-bottom: 0.5rem;
  scroll-snap-align: center;
}

b {
  color: var(--accent);
}

button {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.squarebutton {
  flex-grow: 0;
  width: 3rem;
  height: 3rem;
}

.boundCoords {
  width: 50%;
}

.target {
  position: absolute;
  inset: 0;
  z-index: 10;
  margin: auto;
  padding: 0;
}

.touchTransparent {
  pointer-events: none;

}

svg {
  fill: none;
  stroke: var(--accent);
  stroke-width: 0.08rem;
  stroke-linecap: round;
  stroke-linejoin: round;
}


@media screen and (min-aspect-ratio: 1/1) {
  .overlayPad {
    width: 50vw;
    height: 100vh;
  }

  .threadColumn {
    height: 100vh;
  }

  .botflex {
    overflow-y: hidden;
  }
}

/* 
* {
  box-sizing: border-box;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size:1rem;
  font-style:normal;
  font-variant:	normal;
  font-weight:500;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  width: 100%;
  color: var(--white);
  border: none;
  outline: none;
  overflow: none;
  word-wrap: break-word;
  text-align: justify;
}

button,
input{
  min-height: 2rem;
  background-color: var(--grey5);
  transition: all 0.2s;
  padding: 0.5rem;
  border-radius: var(--border);
  box-shadow: 0px 0px 1px 2px var(--grey4) inset;
}

button:active {
  background-color: var(--accent);
}

button:active:disabled {
  background-color: var(--red);
}

button:disabled {
  box-shadow: none;
  background-color: var(--red);
  transition: all 10s;
}

input:focus,
button:focus {
  border: 0.1rem solid var(--grey2);
}

input::placeholder {
  color: var(--grey);
}



.postStyle {
  margin-bottom: 0.5rem;
  background-color: var(--grey5);
  padding: 0.5rem;
  border-radius: var(--border);
  display: block;
}

.Map {
  height: 100%;
}

.max2rem {
  height: 2rem;
  display: flex;
  place-items: center;
}

gmp-map {
  height: 100%;
} */